<footer class="container">
    <div class="row">
        <div class="col-3">
            <ul class="list-unstyled">
                <li><a href="#">Another Link</a></li>
                <li><a href="#">Another Link</a></li>
                <li><a href="#">Another Link</a></li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="list-unstyled">
                <li><a href="#">Another Link</a></li>
                <li><a href="#">Another Link</a></li>
                <li><a href="#">Another Link</a></li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="list-unstyled">
                <li><a href="#">Another Link</a></li>
                <li><a href="#">Another Link</a></li>
                <li><a href="#">Another Link</a></li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="list-unstyled">
                <li><a href="#">Another Link</a></li>
                <li><a href="#">Another Link</a></li>
                <li><a href="#">Another Link</a></li>
            </ul>
        </div>
    </div>
</footer>